#fileInput {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  height: 100%;
  left: 0px;
  top: 0px;
}

.fixed-size-container {
  max-width: 1400px;
  margin: 10px auto 0 auto;
  background-color: #FFF;
  padding: 0px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  
}
.fixed-size {
  width: 150px;
  height: 150px;
  background-color: white;
  color: #FFF;
  display: flex;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 4px;
  border: #333;
  border-style: groove;
}
::ng-deep .my-class {
  width: 1050px !important;
}