<div id="modal-content-wrapper">
    <section id="modal-body">
     Delete Photo 
    </section>
    <div>
        <p>Members with multiple photos get better responses. Do ypu still want to delete this photo?</p>
    </div>
    <footer id="modal-footer">
        <button mat-stroked-button color="primary"  style="margin-right: 10px;"  (click)="confirm();">
            Yes</button>
        <button mat-raised-button color="primary" (click)="closeModal()">No</button>
    </footer>
</div>
<!-- https://teamtreehouse.com/community/why-is-it-common-practice-to-wrap-everything-within-the-body-tag-with-a-div-tag -->