<div id="modal-content-wrapper">
    <section id="modal-body">
     <h2>Delete Photo </h2>
    </section>
    <div id="modal-body">
        <p>Members with multiple photos get better responses. Do you still want to delete this photo?</p>
    </div>
    <footer id="modal-footer">
        <button mat-stroked-button color="primary"  style="margin-right: 10px;"  (click)="confirm();">
            Yes</button>
        <button mat-raised-button color="primary" (click)="closeModal()">No</button>
    </footer>
</div>
