/* Make the modal a three-row grid */
#modal-content-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
}

#modal-footer {
    justify-self: right;
    align-self: center;
    padding-right: 10px;
}
#modal-body {
    justify-self: left;
    align-self: center;
    padding-left: 10px;
}